replicaCount: 1
nameOverride: ""

image:
  repository: kinotic/structures-server
  pullPolicy: Always
  tag: "1.14.0-SNAPSHOT"
  sha: ""

properties:
  springActiveProfiles: "production"
  corsAllowedOriginPattern: "*"
  enableJmx: true
  enableNmt: true
  javaToolOptions: "-XX:MaxDirectMemorySize=1024M"
  structures:
    tenantIdFieldName: "tenantId"
    indexPrefix: "struct_"
    openApiSecurityType: "BASIC"
    openApiPort: 8080
    openApiPath: "/api/"
    openApiServerUrl: "http://127.0.0.1:8080"
    graphqlPort: 4000
    graphqlPath: "/graphql/"
    webServerPort: 9090
    healthCheckPath: "/health"
    enableStaticFileServer: true
    initializeWithSampleData: false
    elastic:
      connections:
        - host: "minds-test-elasticsearch.es.centralus.azure.elastic-cloud.com"
          port: 443
          scheme: "https"
      connectionTimeout: "1M"
      socketTimeout: "1M"
      username: "structures"
      password: "asdfsda898u7fsad8sfa@sdfa"
    
    # Apache Ignite Cluster Configuration
    # For multi-node deployments (replicaCount > 1), enable cluster discovery
    # Discovery types: "local" (single-node), "sharedfs" (Docker/VMs), "kubernetes" (K8s)
    clusterDiscoveryType: "local"  # Change to "kubernetes" for multi-node K8s clusters
    
    # Kubernetes Discovery (used when clusterDiscoveryType = "kubernetes")
    clusterKubernetesNamespace: "default"  # Should match the namespace of this release
    clusterKubernetesServiceName: "structures"  # Headless service for discovery
    # clusterKubernetesMasterUrl: null  # Uses in-cluster config by default
    # clusterKubernetesAccountToken: null  # Uses mounted service account by default
    
    # Network Ports
    clusterDiscoveryPort: 47500
    clusterCommunicationPort: 47100
    clusterJoinTimeoutMs: 60000  # 60 seconds for production


nodeSelector: {}
