apiVersion: 1
datasources:
  - name: Loki
    type: loki
    uid: Loki
    url: http://loki:3100
    access: proxy
    isDefault: false
    jsonData:
      derivedFields:
        - datasourceUid: Tempo
          matcherRegex: "trace_id=(\\w+)"
          name: TraceID
          url: "$${__value.raw}"
    fields:
      - name: trace_id
        matcherRegex: "trace_id=([\\w]+)"
      - name: span_id
        matcherRegex: "span_id=([\\w]+)"
  - name: Mimir
    type: prometheus
    uid: Mimir
    url: http://mimir:9009/prometheus
    access: proxy
    isDefault: true
    jsonData:
      httpMethod: POST
      exemplarTraceIdDestinations:
        - name: trace_id
          datasourceUid: Tempo
          urlDisplayLabel: "View Trace"
  - name: Tempo
    type: tempo
    uid: Tempo
    url: http://tempo:3200
    access: proxy
    isDefault: false
    jsonData:
      httpMethod: GET
      serviceMap:
        datasourceUid: Mimir
      nodeGraph:
        enabled: true
      search:
        hide: false
      tracesToLogs:
        datasourceUid: Loki
        tags: ["job", "instance", "pod", "namespace", "service.name"]
        mappedTags: [{ key: "service.name", value: "service_name" }]
        mapTagNamesEnabled: true
        spanStartTimeShift: "1h"
        spanEndTimeShift: "1h"
        filterByTraceID: false
        filterBySpanID: false
      tracesToMetrics:
        datasourceUid: Mimir
        tags: [{ key: "service.name", value: "service_name" }, { key: "job" }]
        queries:
          - name: "Sample query"
            query: "sum(rate(tempo_spanmetrics_latency_bucket{$$__tags}[5m]))"
      lokiSearch:
        datasourceUid: Loki