target: all

multitenancy_enabled: false

server:
  http_listen_port: 9009
  grpc_listen_port: 9095

distributor:
  pool:
    health_check_ingesters: true

ingester:
  ring:
    kvstore:
      store: inmemory
    replication_factor: 1

limits:
  ingestion_rate: 10000
  ingestion_burst_size: 20000
  max_global_series_per_user: 0
  max_global_series_per_metric: 0
  max_global_exemplars_per_user: 0

compactor:
  compaction_interval: 10m

blocks_storage:
  backend: filesystem
  filesystem:
    dir: /var/mimir/blocks
  bucket_store:
    sync_dir: /var/mimir/tsdb-sync

store_gateway:
  sharding_ring:
    kvstore:
      store: inmemory
    replication_factor: 1

frontend:
  max_outstanding_per_tenant: 2048

query_scheduler:
  max_outstanding_requests_per_tenant: 1024
